<div class="container-fluid">
  <div class="row" style="margin-top: 20px;">

        <div class="col-sm-8 col-md-6 col-xl-6">

        <div class="product-card">

        <div>
        <%= simple_form_for @folder, validate: true, remote: true do |f| %>
<%= f.input :name %>
<%= f.submit "Add this folder", class: "btn btn-primary" %>
<% end %>
        </div>

      </div>
    </div>

        <div class="col-sm-8 col-md-6 col-xl-6">

          <% @folders.each do |folder| %>

        <div class="d-flex product-card ">

        <div>
        <%= folder.name %>
        </div>


<div class="product-card-options">

            <%= link_to edit_folder_path(folder), class: "product-options" do %>
        <i class="far fa-edit fa-xs"></i>
        <% end %>

          <%= link_to folder_path(folder), method: :delete, data: { confirm: "Are you sure?", title: "Confirm Deletion"}, class: 'product-options' do %>
          <i class="far fa-trash-alt fa-xs"></i>
          <% end %>




        </div>

        </div>
        <% end %>
      </div>

      </div>
    </div>

