    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <% if user_signed_in? %>
        <strong><%= current_user.email %></strong>
        <% else %>
        <strong>Stranger</strong>
        <% end %>
      </div>

      <ul class="list-unstyled components">

        <li>
          <%= link_to new_customer_path do  %>
           <i class="fas fa-plus"></i>
          <span>Add a customer</span>
          <% end %>
        </li>
                <li>
          <%= link_to products_path do  %>
          <i class="fas fa-cube"></i>
          <span>Products</span>
          <% end %>
        </li>
        <li>
          <%= link_to map_path do  %>
          <i class="fa fa-globe"></i>
          <span>Map</span>
          <% end %>
        </li>

<h3 style="margin-bottom: 5px;">Folders</h3>
<div style="margin-left: 10px; margin-bottom: 10px" class="link-navbar" >
<%= link_to "> Manage my folders", folders_path %>
</div>
        <%  Folder.all.each do |folder| %>
        <li>

            <a href="#<%= folder.name.gsub(/\s+/, "") %>Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-folder-open"></i><%=  folder.name%></a>
            <ul class="collapse list-unstyled" id="<%= folder.name.gsub(/\s+/, "") %>Submenu">
              <% if folder.customers.empty? %>
                <li>
                  <%= link_to "Add a customer", new_customer_path  %>
                </li>
                <% else %>
              <% folder.customers.each do |customer| %>
              <li>
                <%= link_to customer.company_name, customer_path(customer)  %>
              </li>
              <% end %>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
      </nav>

