<div>
        <ul>
      <% @customer_products.each do |customer_product| %>



      <li>

<%= simple_form_for [ @customer, customer_product ], validate: true, wrapper: :inline_form,
  html: { class: "form-inline" },
  wrapper_mappings: {
    boolean: :inline_boolean
  } do |f| %>
<%= f.input :quantity, input_html: { class: "mb-2 mr-sm-2", style: "width: 80px" } %>
<%= f.association :product, input_html: { class: "mb-2 mr-sm-2", style: "width: 150px"  } %>
<%= f.submit "Save", class: "btn btn-primary btn-light-green", style: "margin-bottom: 7px" %>
<%= link_to "Delete",  customer_customer_product_path(@customer, customer_product), method: :delete, data: { confirm: "Are you sure?", title: "Confirm Deletion"}, class: "btn btn-primary btn-light-green", style: "margin-left: 5px; margin-bottom: 7px" %>
<% end %>
       </li>
      <% end %>
      </ul>
</div>
<div>
  <p>Add a new product</p>
<%= simple_form_for [ @customer, @customer_product ], validate: true, wrapper: :inline_form,
  html: { class: "form-inline" },
  wrapper_mappings: {
    boolean: :inline_boolean
  } do |f| %>
<%= f.input :quantity, placeholder: 'Qty', input_html: { class: "mb-2 mr-sm-2", style: "width: 80px" } %>
<%= f.association :product, collection: current_user.products, prompt: 'Product', input_html: { class: "mb-2 mr-sm-2", style: "width: 150px"  } %>
<%= f.submit "Add this product", class: "btn btn-primary btn-light-green", style: "margin-bottom: 7px" %>
<% end %>
</div>
