,  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            <% if user_signed_in? %>
            <strong><%= current_user.email %></strong>
            <% else %>
            <strong>Stranger</strong>
            <% end %>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li>
            <%= link_to "Add a new Folder", new_folder_path  %>
          </li>
          <li>
            <%= link_to "Add a new Customer", new_customer_path  %>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
              <span class="badge badge-pill badge-warning">New</span>
            </a>
          </li>
          <li>
            <%= link_to map_path do  %>
          <i class="fa fa-globe"></i>
          <span>Map</span>
            <% end %>
          </li>
        </ul>
        <ul>
          <li class="header-menu">
            <span>Notes</span>
          <% Folder.all.each do |folder| %>
           <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-folder"></i>
              <span><%=  folder.name %></span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <% if folder.customers.empty? %>
                <li>
                  <%= link_to "Add a customer", new_customer_path  %>
                </li>
                <% else %>
                <li>
                  <%= link_to "See All", folder_path(folder) %>
                </li>
                <% folder.customers.each do |customer| %>
                <li>
                  <%= link_to "#{customer.name}", customer_path(customer)  %>
                </li>
                <% end %>
                <% end %>
              </ul>
            </div>
           <% end %>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
  </nav>
  <!-- sidebar-wrapper  -->

  </div>
  <!-- page-content" -->

<!-- page-wrapper -->
