<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="forms-container">
<%= simple_form_for [@customer], validate: true do |f| %>
<%= f.input :company_name %>
<%= f.input :website %>
<%= f.input :address %>
<%= f.input :contact_name %>
<%= f.input :contact_number%>
<%= f.input :email %>
<%= f.association :folder, collection: @user.folders %>
<%= f.submit "Add this customer", class: "btn btn-dark-green" %>
<% end %>
</div>
    </div>
  </div>
</div>
