<div class="container-fluid " id="customers-container-element">

  <div class="row">
    <div class="col-10">

     <%  if (@user.folders.count) == 0 %>
     <h2>Welcome!</h2>
     <hr>
     <p>Start your journey by adding a new folder to store your customers</p>
     <%= link_to folders_path, class: "btn btn-light-green" do  %>
     <i class="fas fa-plus"></i>
     <span>Add a new folder</span>
     <% end %>

     <% else %>

     <%= link_to new_customer_path, class: "btn btn-light-green", style: "margin: 20px 0px" do  %>
     <i class="fas fa-plus" style="margin-right: 5px"></i>
     <span>Add a customer</span>
     <% end %>

   </div>
 </div>
<div class="container-all-customers">
<div class="row">
  <div class="col-10" style="display: flex" >

    <div id="folder-tag">
    All Customers
    </div>

    <% @folders.each do |folder| %>
    <div id="folder-tag">
    <%= folder.name %>
    </div>
    <% end %>
  </div>
  </div>
<hr>

<div class="row">
    <div class="col-12" id="customers-container">

<% @customers.each do |customer| %>

<div id="customer-card" data-folder="<%= customer.folder.name%>">
  <div class="index-customer-card">
<p style="color: grey; margin-top: -10px;"><%= customer.folder.name %></p>
      <h3><%= link_to customer.company_name, customer_path(customer)  %></h3>

      <% if customer.address != "" %>
      <p>Address: <%= customer.address %></p>
      <% end %>

      <% if customer.contacts.count > 0 %>
      <p>Contact(s):<p>
      <% customer.contacts.each do |contact| %>
      <p style="margin-left: 5px;"> > <%= contact.name %></p>
      <% end %>
      <% end %>


      <% if !customer.customer_products.empty? %>
      <div class="index-customer-products">
        <ul>
          <% customer.customer_products.each do |product| %>
          <li><p><%= product.quantity %> x
            <%= Product.where(id: product.product_id)[0].name
            %></p></li>
            <% end %>
          </ul>
        </div>
        <% end %>

      </div>
</div>
<% end %>


</div>
</div>




<% end %>
</div>
</div>

