<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="customer-card-show">
        <%= link_to customer_path(@customer), method: :delete, data: { confirm: "Are you sure?", title: "Confirm Deletion"}, class: 'customer-delete-icon' do %>
        <i class="fas fa-trash fa-lg"></i>
        <% end %>
        <%= link_to edit_customer_path(@customer), class: "customer-edit-icon" do %>
        <i class="fas fa-user-edit fa-lg"></i>
        <% end %>


        <div class="customer-card-details">
          <h1><%= @customer.company_name  %></h1>
          <p> <%= link_to "Company Website" , "#{@customer.website}"  %></p>

          <% if @customer.address != "" %>
          <p><i class="fas fa-map-marker-alt" style="margin-right: 5px"></i>
            <%= @customer.address %></p>
            <% end %>

            <%= link_to add_contact_path, remote: true, class: "btn btn-dark-green", style: "margin: 10px 0px" do  %>
            <i class="fas fa-plus" style="margin-right: 5px; color: white"></i>
            <span>Add a contact</span>
            <% end %>

            <div class="add-contact">
            </div>



            <%  @customer.contacts.each do |contact|  %>
            <div class="customer-card-contact-details">
              <p><i class="fas fa-address-book" style="margin-right: 5px"></i>
                <%= contact.name %></p>
                <p>
                  <i class="fas fa-envelope" style="margin-right: 5px"></i><%= contact.email %></p>
                  <p>
                    <i class="fas fa-phone-alt" style="margin-right: 5px"></i><%= contact.phone_number %></p>


                  </div>
                  <% end %>



                </div>
                <% if !@customer.latitude.nil? && !@customer.longitude.nil? %>
                  <%= render 'shared/map' %>
              <% end %>

            </div>
          </div>

          <div class="col-6">
            <div class="customer-card-products">
              <%= link_to edit_products_path, remote: true do %>
              <i class="far fa-edit fa-lg" id="notes-edit-btn" style="float:right"></i>
              <% end %>
              <h2>List of Products</h2>
              <div id="edit-products">
                <ul>
                  <% @customer_products.each do |customer_product| %>
                  <li><%= customer_product.quantity %> x
                    <%= Product.where(id: customer_product.product_id)[0].name
                    %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="customer-card-notes">

                <% if @customer.notes.body.nil? %>
                <%= render 'shared/notes_edit_form' %>

                <% else %>
                <div>
                  <%= link_to edit_notes_path, remote: true do %>
                  <i class="far fa-edit fa-lg" id="notes-edit-btn" style="float:right"></i>
                  <% end %>
                  <h2>Notes</h2>
                </div>
                <div>
                  <p><%= @customer.notes %></p>
                </div>
                <% end %>
              </div>

            </div>
          </div>



        </div>



