<div class="container-fluid">
  <div class="row">
    <div class="col-6">

<!-- image gallery start -->

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

    <div class="carousel-inner">


<% @customer.photos.each_with_index do |photo, index| %>
<% if index == 0 %>
    <div class="carousel-item active">
        <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill, class: "d-block w-100" %>
    </div>
<% end %>
    <div class="carousel-item">
        <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill, class: "d-block w-100" %>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- image gallery end -->

    </div>
      <div class="col-5">
        <div class="customer-card-show">
          <%= link_to edit_customer_path(@customer), class: "customer-edit-icon" do %>
            <i class="fas fa-user-edit fa-lg"></i>
            <% end %>
          <div class="customer-card-details">
            <h1><%= @customer.name  %></h1>
            <p>"<%= @customer.address %>"</p>
            <p>"<%= @customer.contact_number %>"</p>
            <i class="fas fa-map-marker-alt"></i>
            <a href="#map"><%= @customer.address %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
      <div class="customer-card-notes">

        <% if @customer.notes.body.nil? %>
<%= render 'shared/notes_edit_form' %>

        <% else %>
        <%= link_to edit_notes_path, remote: true do %>
            <i class="far fa-edit fa-lg" id="notes-edit-btn"></i>
            <% end %>
    <p><%= @customer.notes %></p>
    <% end %>
      </div>
      </div>
    </div>
  </div>


