<!DOCTYPE html>
<html>
<head>
  <title>CustomerNotes</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Manrope:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
<!--     <meta name="turbolinks-visit-control" content="reload">
 -->
</head>

<body>

 <div class="wrapper">
  <%= render 'shared/flashes' %>

  <% if user_signed_in? %>
  <%= render 'shared/navbar2' %>
  <div id="content" class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info" style="margin-top: -40px; margin-left: -60px;">
          <i class="fas fa-align-left mr-2" style="color: white"></i>
          <span>Toggle Sidebar</span>
        </button>
      </div>
    </nav>
    <%= yield %>
  </div>
  <% else %>
    <div id="content" class="" style="width: 100vw; padding: 10px 0px;">
<%= yield %>
</div>
  <% end %>

</div>

</body>
</html>
